# Python
__pycache__/
*.pyc
venv/
env/

# IDE e S.O.
.vscode/
.DS_Store

# Arquivos a serem ignorados (Executáveis e atalhos)
*.exe
*.lnk

# --- BANCO DE DADOS (IMPORTANTE) ---
# Ignora estes arquivos para proteger os dados reais no servidor
clientes.json
propostas.json
contador.json
